body{
	background-color: #2C3E50;
	font-family: 'Open Sans', sans-serif;
	font-size: 150%;
}

p{
	font-size: 0.5em;
	margin: 5px;
}

h2{
	padding: 0px;
	margin: 0px;
}

#title{
	font-size: 2.5em; 
	color: #E74C3C;
	text-align: center;
}

.subtitle{
	font-size: 1.25em; 
	color: #E74C3C;
	position: relative;
	text-align: right;
}

.subtitle span{
	background-color: #ECF0F1;
	border: 1px solid black;
}

.row {
  width: 100%;
}

.box{
	background-color: #2980B9;
	box-sizing: border-box;
	border: 1px solid black;
}


@media (min-width: 992px) {

	.col-lg {
		margin: 0 1.6% 0 1.6%;
		float: left;
		width: 30%;
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {
		
	.col-md-fl {
		margin: 40px 2.5% 0 2.5%;
		float: left;
		width: 95%;
	}

	.col-md {
		margin: 0 2.5% 0 2.5%;
		float: left;
		width: 45%;
	}
}

@media (max-width: 767px) {
	
	.col-sm {
		margin: 0 2.5% 20px 2.5%;
		float: left;
		width: 95%;
	}

}

